In [ ]:
import pandas as pd

In [ ]:
import seaborn as sns

In [ ]:
df = pd.read_csv('Ecommerce Customers.csv')

In [ ]:
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

## Categorical - Integer Encoding

In [ ]:
df.Avatar.unique()

array(['Violet', 'DarkGreen', 'Bisque', 'SaddleBrown', 'MediumAquaMarine',
       'FloralWhite', 'DarkSlateBlue', 'Aqua', 'Salmon', 'Brown',
       'Tomato', 'RoyalBlue', 'DarkBlue', 'Peru', 'PowderBlue',
       'OliveDrab', 'Cyan', 'LightSeaGreen', 'PeachPuff', 'Black',
       'Olive', 'Silver', 'Wheat', 'Teal', 'Linen', 'MediumSlateBlue',
       'LemonChiffon', 'DarkOrchid', 'SeaGreen', 'SteelBlue',
       'DarkMagenta', 'DarkGoldenRod', 'DarkSeaGreen', 'Gainsboro',
       'HotPink', 'HoneyDew', 'WhiteSmoke', 'GhostWhite', 'Chocolate',
       'Snow', 'BurlyWood', 'Moccasin', 'BlueViolet', 'MediumBlue',
       'GreenYellow', 'SandyBrown', 'MediumVioletRed', 'DarkOliveGreen',
       'DarkSalmon', 'DeepPink', 'SkyBlue', 'Magenta', 'DarkTurquoise',
       'SpringGreen', 'OrangeRed', 'LimeGreen', 'LightGreen',
       'LightYellow', 'MintCream', 'DimGray', 'Indigo', 'LightSalmon',
       'DeepSkyBlue', 'Turquoise', 'LightSteelBlue', 'Cornsilk',
       'DarkKhaki', 'FireBrick', 'SlateGray', 'Crimson', 'MidnightBlue',
       'DarkCyan', 'OldLace', 'Gray', 'LightPink', 'BlanchedAlmond',
       'CadetBlue', 'PaleTurquoise', 'Chartreuse', 'Khaki',
       'MediumSpringGreen', 'Lime', 'SlateBlue', 'Orange', 'Fuchsia',
       'GoldenRod', 'ForestGreen', 'Green', 'LightSkyBlue', 'Azure',
       'LightGray', 'MediumOrchid', 'Sienna', 'Aquamarine', 'Purple',
       'CornflowerBlue', 'DarkSlateGray', 'DarkRed', 'DarkViolet',
       'LavenderBlush', 'Navy', 'RosyBrown', 'Pink', 'Red', 'Lavender',
       'White', 'MediumSeaGreen', 'MediumPurple', 'Tan', 'LawnGreen',
       'Thistle', 'Orchid', 'Yellow', 'AntiqueWhite', 'AliceBlue',
       'PapayaWhip', 'Gold', 'MediumTurquoise', 'YellowGreen',
       'LightCyan', 'LightCoral', 'SeaShell', 'LightGoldenRodYellow',
       'Blue', 'LightBlue', 'PaleGoldenRod', 'Coral', 'DarkOrange',
       'Ivory', 'PaleVioletRed', 'DarkGray', 'MistyRose', 'NavajoWhite',
       'DodgerBlue', 'IndianRed', 'PaleGreen', 'LightSlateGray', 'Beige'],
      dtype=object)

In [ ]:
# integer encoding
numerical = 0
for avatar in df.Avatar.unique():
    numerical = numerical + 1
    df.loc[df['Avatar'] == avatar, 'avatar_int_encoding'] = numerical

In [ ]:
df[['Avatar', 'avatar_int_encoding']]

               Avatar  avatar_int_encoding
0              Violet                  1.0
1           DarkGreen                  2.0
2              Bisque                  3.0
3         SaddleBrown                  4.0
4    MediumAquaMarine                  5.0
5         FloralWhite                  6.0
6       DarkSlateBlue                  7.0
7                Aqua                  8.0
8              Salmon                  9.0
9               Brown                 10.0
10             Tomato                 11.0
11             Tomato                 11.0
12          RoyalBlue                 12.0
13             Bisque                  3.0
14           DarkBlue                 13.0
15               Peru                 14.0
16         PowderBlue                 15.0
17          OliveDrab                 16.0
18               Cyan                 17.0
19      LightSeaGreen                 18.0
20          PeachPuff                 19.0
21              Black                 20.0
22              Olive                 21.0
23             Silver                 22.0
24              Wheat                 23.0
25               Teal                 24.0
26              Linen                 25.0
27    MediumSlateBlue                 26.0
28       LemonChiffon                 27.0
29         DarkOrchid                 28.0
..                ...                  ...
470         SlateGray                 69.0
471            Bisque                  3.0
472            Orange                 84.0
473           DimGray                 60.0
474        MediumBlue                 44.0
475      AntiqueWhite                114.0
476             Beige                138.0
477             Beige                138.0
478         PeachPuff                 19.0
479         LightPink                 75.0
480        WhiteSmoke                 37.0
481      MediumOrchid                 92.0
482             Olive                 21.0
483         MistyRose                132.0
484           DarkRed                 98.0
485              Pink                103.0
486          DarkGray                131.0
487            Orchid                112.0
488         PeachPuff                 19.0
489           Magenta                 52.0
490        GhostWhite                 38.0
491          SeaShell                122.0
492          DarkBlue                 13.0
493    MediumSeaGreen                107.0
494     DarkTurquoise                 53.0
495               Tan                109.0
496     PaleVioletRed                130.0
497          Cornsilk                 66.0
498              Teal                 24.0
499       DarkMagenta                 31.0

[500 rows x 2 columns]

In [ ]:
# binary encoding
numerical = 0
for avatar in df.Avatar.unique():
    numerical = numerical + 1
    df[f'avatar_{numerical}'] = 0
    df.loc[df['Avatar'] == avatar, f'avatar_{numerical}'] = 1

In [ ]:
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent,avatar_int_encoding,avatar_1,...,avatar_129,avatar_130,avatar_131,avatar_132,avatar_133,avatar_134,avatar_135,avatar_136,avatar_137,avatar_138
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054,1.0,1,...,0,0,0,0,0,0,0,0,0,0
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933,2.0,0,...,0,0,0,0,0,0,0,0,0,0
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505,3.0,0,...,0,0,0,0,0,0,0,0,0,0
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344,4.0,0,...,0,0,0,0,0,0,0,0,0,0
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092,5.0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# one hot encoding
for avatar in df.Avatar.unique():
    df[f'avatar_{avatar}'] = 0
    df.loc[df['Avatar'] == avatar, f'avatar_{avatar}'] = 1

In [ ]:
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent,avatar_int_encoding,avatar_1,...,avatar_Ivory,avatar_PaleVioletRed,avatar_DarkGray,avatar_MistyRose,avatar_NavajoWhite,avatar_DodgerBlue,avatar_IndianRed,avatar_PaleGreen,avatar_LightSlateGray,avatar_Beige
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054,1.0,1,...,0,0,0,0,0,0,0,0,0,0
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933,2.0,0,...,0,0,0,0,0,0,0,0,0,0
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505,3.0,0,...,0,0,0,0,0,0,0,0,0,0
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344,4.0,0,...,0,0,0,0,0,0,0,0,0,0
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092,5.0,0,...,0,0,0,0,0,0,0,0,0,0